Test the different `scimType` values of errors

[RFC7644 §3.12](https://datatracker.ietf.org/doc/html/rfc7644#section-3.12) describe several values for scimType expected in different situations.
The tester should at least check for the following ones:
- invalidSyntax
- invalidValue
- mutability